$foreground-color: dodgerblue;
$foreground-color-hover: #4AA6FF;
$background-color: #CDF;
$text-color: whitesmoke;
$nav-link-hover: lightgray;
$link-color-unvisited: #94e2fc;
$link-color-visited: #94aefc;
$nav-item-color: #33ccff;

$col-img-width: 10em;
$col-img-width-wide: 12em;
$col-img-height: 10em;