@import url("https://fonts.googleapis.com/css?family=Work+Sans");
/* line 11, ../sass/main.scss */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: dodgerblue;
  color: white;
}

/* line 19, ../sass/main.scss */
#main {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
/* line 25, ../sass/main.scss */
#main .title {
  font-size: 3em;
  margin-bottom: -0.25em;
}
/* line 31, ../sass/main.scss */
#main h1 {
  font-size: 1.5em;
  margin-bottom: 2em;
}
/* line 37, ../sass/main.scss */
#main #about-me {
  margin-top: 4em;
}
/* line 42, ../sass/main.scss */
#main .content-div {
  text-align: left;
}

/* line 49, ../sass/main.scss */
ul.nav-list {
  list-style-type: none;
  list-style-type: none;
}
/* line 6, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
ul.nav-list, ul.nav-list li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 54, ../sass/main.scss */
ul.nav-list li {
  margin: 0 2em;
  padding: 1em;
  border-radius: 10px;
  background-color: #33ccff;
}
/* line 61, ../sass/main.scss */
ul.nav-list li a.nav-link {
  color: white;
  text-decoration: none;
}

/* line 69, ../sass/main.scss */
a {
  color: white;
}
/* line 73, ../sass/main.scss */
a:visited {
  color: white;
}
/* line 78, ../sass/main.scss */
a.nav-link {
  color: red;
  font-size: 1.5em;
}
