@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import "../constants.scss";


body {
	font-family: 'Work Sans', sans-serif;
	background-color: $background-color;
	color: $text-color;
}

a {
	color: $text-color;
	text-decoration: underline;
}

.small-col {
	text-align: center;
}


.large-col {
	background-color: $foreground-color;
	border-radius: 0em;
	width: 100%;
}


.container {
	margin: 0 auto;
	max-width: 100%;
}


.cent-col {
	text-align: center;
}


.modal-content {
	background-color: $foreground-color-hover;
}

.navbar {
	text-align: center;
}

.navbar-brand {
	width: 100%;
}

.navbar-nav {
	display: none;
}